In [3]:
## mencoba splitting
import pandas as pd

Developer = pd.DataFrame(
    {
        'Name': ['Isyana Saraswati', 'Nicholas Saputra', 'Raisa Andriana'], 
        'Age':[30, 36, 32]
        }
    )
print("Machine Learning Developer di Indonesia : \n" , Developer)

Machine Learning Developer di Indonesia :
                Name  Age
0  Isyana Saraswati   30
1  Nicholas Saputra   36
2    Raisa Andriana   32

In [5]:
Developer[['first','last']] = Developer.Name.str.split(expand=True)
print("\n Split Kolom 'Name' lalu tambahkan kedua kolom : \n",Developer)

 Split Kolom 'Name' lalu tambahkan kedua kolom :
                Name  Age     first       last
0  Isyana Saraswati   30    Isyana  Saraswati
1  Nicholas Saputra   36  Nicholas    Saputra
2    Raisa Andriana   32     Raisa   Andriana